{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "ecmaFeatures": {
    "classes": true,
    "jsx": true,
    "modules": [2],
    "objectLiteralShorthandMethods": true,
    "superInFunctions": true
  },

  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "globals": {
    $:true,
    jQuery:true,
    'describe':true,
    'it':true,
    'should':true,
    'expect':true,
    'TestUtils':true
  }
}
