.rg-wrapper{
  .rg-grid {
    width:100%;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.870588);
    .clickable{
      cursor:pointer;
    }
    .bulk-checkbox{
      padding-right:10px;
    }
    .empty-message{
      text-align: center;
      padding: 50px;
      background: #efefef;
    }
    .rg-header{
      padding:10px;
      .rg-row{
        display:flex;
      }
    }
    .rg-body{
      .rg-row-container{
        padding:10px;
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        margin-bottom:10px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        box-sizing: border-box;

        .expanded{
          padding-top:20px;
        }

        .rg-row {
          display:flex;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          .rg-cell{
            word-wrap:break-word;
            &.perceived-loading{
          		background:blue;
          	}
          }
        }
      }
    }
  }
  .rg-footer{
    .rg-pager-range,
    .rg-pager-controls{
      width:50%;
      display:inline-block;
    }
    .rg-pager-range{
      text-align:right;
      .rg-pager-records{
        display:inline-block;
      }
    }
    .rg-pager-controls{

    }
  }

  .hidden {
    display:none;
  }

  .perceived-loading{
  	background:#E1E2E2;
  	opacity:.5;
  	width:100%;
  	display:inline-block;
  	padding:0;
  	margin:0;
  	height:14px;
  	line-height:normal;
  	animation: pulsate 1s linear;
  	animation-iteration-count: infinite;

  }
  .perceived-loading:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  @-webkit-keyframes pulsate {
      0% {opacity: 0.6;}
      25% {opacity: 1.0;}
      50% {opacity: 0.8;}
      75% {opacity: 0.7;}
      100% {opacity: 0.6;}
  }
}
